@use 'base';
@use 'dashboard';
@use 'replayGameView';

.navbarWrapper {
  background: #2979FF;
}

.mwContainer {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navColLeft {
  .gameName {
    font-weight: bold;
    font-size: 2rem;
  }
}

.navColRight {
  height: 100%;
}

.logoutBox {
  @extend %button-reset;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 25px;
  &:hover {
    background: rgba(255,255,255,0.4);
  }
  .username {
    font-weight: bold;
    padding: 0 10px;
  }
}